<%- form_for(@department) do |f| %>
  <%= f.error_messages %>
  <h3>Department Information</h3>
  <table>
    <tbody>
      <tr>
        <td style="text-align:right;"><%= f.label :name %>:</td>
        <td><%= f.text_field :name, :size => 40 %></td>
      </tr>
      <tr>
        <td style="text-align:right;"><%= f.label :abbreviation %>:</td>
        <td><%= f.text_field :abbreviation, :size => 10 %></td>
      </tr>
    </tbody>
  </table>
  <hr />
  <h3>Contacts</h3>
  <table class="list">
  	<thead style="text-align:left;">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Courses</th>
      </tr>
    </thead>
    <tbody>
      <%- f.fields_for :contacts do |contact_form| %>
        <%= render :partial => 'departments/contacts/form', :locals => { :f => f, :contact_form => contact_form } %>
      <%- end %>
    </tbody>
  </table>
  <p>
    <%= f.submit "#{f.object.new_record? ? 'Create' : 'Save'} Department" %> <%= f.object.new_record? ? link_to(l(:link_cancel), departments_path) : link_to(l(:link_cancel), department_path, :id => @department)  %>
  </p>
<%- end %>
