<table class="list">
  <thead style="text-align:left;">
    <tr>
      <th><%= l('label_name') %></th>
      <th><%= l('label_abbreviation') %></th>
      <th><%= l('label_contacts') %></th>
      <th><%= l('label_issue_plural') %></th>
			<% if authorize_for_with_global(:departments, :delete, true) %>
      <th><%= l('label_remove') %></th>
				<% end %>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr class="<%= cycle("odd", "even") %>">
				<td><%= link_to(department.name, department, :id => department) %></td>
				<td><%= department.abbreviation %></td>
				<td><%= department.contacts.count %></td>
				<td><%= department.issues.count %></td>
				<% if authorize_for_with_global(:departments, :delete, true) %>
        <td style="border: 0; padding: 0;">
          <%= link_to(image_tag('delete.png'), department, :confirm => "Are you sure?", :method => :delete) %>
        </td>
				<% end %>
      </tr>
    <%- end %>
  </tbody>
</table>
<div id="departments-pagination" style="text-align:center; display:inline;">
  <%= will_paginate @departments %>
</div>
<div id="departments-pagination-count" class="pagination" style="float:left;">
  <%= @departments.offset + 1 %>-<%= [(@departments.offset + @departments.per_page), @departments.total_entries].min %> / <%= @departments.total_entries %> | <%= paginate_per_page_links @departments %>
</div>
