<table class="list">
  <thead style="text-align:left;">
    <tr>
      <th><%= l('department_name') %></th>
      <th><%= l('department_abbreviation') %></th>
      <th><%= l('department_contacts') %></th>
      <th><%= l('label_issue_plural') %></th>
			<% if authorize_for_with_global(:departments, :delete, true) %>
      <th><%= l('department_remove') %></th>
				<% end %>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr class="<%= cycle("odd", "even") %>">
				<td><%= link_to(department.name, department, :id => department) %></td>
				<td><%= department.abbreviation %></td>
				<td><%= department.contacts.count %></td>
				<td><%= department.issues.count %></td>
				<% if authorize_for_with_global(:departments, :delete, true) %>
        <td style="border: 0; padding: 0;">
          <%= link_to(image_tag('delete.png'), department_path(department,:per_page => params[:per_page], :page => params[:page]), :confirm => "Are you sure?", :method => :delete) %>
        </td>
				<% end %>
      </tr>
    <%- end %>
  </tbody>
</table>
