<table class="list">
  <thead style="text-align:left;">
    <tr>
      <th><%= l('label_name') %></th>
      <th><%= l('label_abbreviation') %></th>
      <th><%= l('label_contacts') %></th>
      <th><%= l('label_issue_plural') %></th>
      <th><%= l('label_remove') %></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr class="<%= cycle("odd", "even") %>">
				<td><%= content_tag(department.name? ? 'em' : 'span', link_to(department.name, department, :id => department)) %></td>
				<td><%= department.abbreviation %></td>
				<td><%= department.contacts.count %></td>
				<td><%= department.issues.count %></td>
        <td style="border: 0; padding: 0;">
          <%= link_to(image_tag('delete.png'), department, :confirm => "Are you sure?", :method => :delete) %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>
