<div class="contextual">
  <%= link_to('New Department', new_department_path, :class => 'icon icon-add') %>
</div>

<h2>Departments</h2>

<table class="list">
  <thead style="text-align:left;">
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
			<th>Contacts</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr class="<%= cycle("odd", "even") %>">
				<td><%= content_tag(department.name? ? 'em' : 'span', link_to(department.name, :action => 'view', :id => department)) %></td>
				<td><%= department.abbreviation %></td>
				<td><%= department.contact_names.split(",").count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% html_title(l(:label_role_plural)) -%>
