<%- if authorize_for('departments', 'new' ) %>
<div class="contextual">
  <%= link_to('New Department', new_department_path, :class => 'icon icon-add') %>
</div>
<%- end %>
<h2>Departments</h2>

<table class="list">
  <thead style="text-align:left;">
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
	  <th>Contacts</th>
	  <% if authorize_for('departments', 'destroy') %>
        <th>Remove</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr class="<%= cycle("odd", "even") %>">
				<td><%= content_tag(department.name? ? 'em' : 'span', link_to(department.name, department, :id => department)) %></td>
				<td><%= department.abbreviation %></td>
				<td><%= department.contacts.count %></td>
				<%- if authorize_for('departments', 'destroy') %>
          <td style="border: 0; padding: 0;">
            <%= link_to_remote(image_tag('delete.png'), {
              :url => {
                :controller => 'departments',
                :action => 'destroy',
                :id => department.id,
                :only_path => true
              },
              :method => :post})
            %>
          </td>
	    <%- end %>
      </tr>
    <%- end %>
  </tbody>
</table>


<% html_title(l(:title_department_plural)) -%>
