<div class="contextual">
  <%= link_to('Edit Department', edit_department_path, :class => 'icon icon-edit') %>
</div>

<h2><%= link_to l(:label_department_plural), :controller => 'departments', :action => 'index' %> &#187; <%= @department.name %> (<%= @department.abbreviation %>)</h2>
<div>
	<h3>Contacts</h3>
  <%- @department.contacts.each do |contact| %>
    <p><%= mail_to contact.email, contact.name %> (<%=h number_to_phone(contact.phone) %>)</p>
  <%- end %>
</div>

<% html_title(l(:title_department_view)) -%>
