	<div class="contextual">
	  <%= link_to('Edit Department', edit_department_path, :class => 'icon icon-edit') %>
	</div>

<h2><%= link_to l(:label_department_plural), :controller => 'departments', :action => 'index' %> &#187; <%= @department.name %> (<%= @department.abbreviation %>)</h2>
<h3>Contacts</h3>
<div id="department-contacts">

  <%= render :partial => 'departments/contacts/list', :locals => { :department => @department }%>
</div>

<div id="department-issues">
	<h3>Issues</h3>
	<table class="list">
		<thead style="text-align:left;">
			<tr>
			  <th>ID</th>
			  <th>Subject</th>
			  <th>Status</th>
			  <th>Remove</th>
			</tr>
		</thead>
	  <tbody>
      <%- @department.issues.each do |issue| %>
      <tr>
        <td>#<%= issue.id %></td>
        <td><%=link_to( issue.subject, :controller => 'issues', :action => 'show', :id => issue ) %></td>
        <td><%= IssueStatus.find(issue.status_id).name %></td>
        <td style="border: 0; padding: 0;">
          <%= link_to_remote(image_tag('delete.png'), {
            :url => {
              :controller => 'departments',
              :action => 'removeissue',
              :issue_id => issue.id,
              :department_id => @department.id,
              :only_path => true
            },
            :confirm => "Remove this issue?",
            :method => :post})
          %>
        </td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>

<% html_title(l(:title_department_view)) -%>
